---
- name: Deploy healthcheck via git
  hosts: all
  become: yes

  vars:
    app_dir: /opt/healthcheck
    repo_url: git@github.com:ypshukla55/healthcheck.git
    repo_branch: main

  tasks:
    - name: Ensure git is installed
      package:
        name: git
        state: present

    - name: Ensure app directory exists
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: rocky
        group: rocky
        mode: '0755'

    - name: Clone or update repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
        version: "{{ repo_branch }}"
        accept_hostkey: yes
        force: yes
      become_user: rocky
