- name: Deploy healthcheck to Rocky VM
  hosts: all
  become: false
  tasks:
    - name: Update repository
      git:
        repo: https://github.com/ypshukla55/healthcheck.git
        dest: /opt/healthcheck
        version: main
        force: true

