- name: Deploy healthcheck to Rocky VM
  hosts: all
  gather_facts: yes

  vars:
    ansible_user: rocky
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no"

  tasks:
    - name: Test connectivity
      ping:
